<h2 mat-dialog-title class="dialog-header">
  {{ componentTitle }}
  <button mat-icon-button class="close-button" (click)="onCancel()">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<div mat-dialog-content class="dialog-content">
  <!-- Left Column -->
  <div class="left-column">
    <!-- Basic Information -->
    <mat-form-field appearance="fill">
      <mat-label>Meal Title</mat-label>
      <input matInput [(ngModel)]="data.meal.title" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cooking Time (minutes)</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="data.meal.cookingTime"
        name="cookingTime"
        required
        min="1"
      />
    </mat-form-field>

    <div class="effort-field">
      <mat-label>Effort Level</mat-label>
      <app-effort-level
        [level]="data.meal.effortLevel"
        [editable]="true"
        size="large"
        (levelChange)="updateEffortLevel($event)"
      ></app-effort-level>
    </div>

    <!-- Ingredients Section -->
    <div class="ingredients-section">
      <mat-form-field appearance="fill">
        <mat-label>Add Ingredient</mat-label>
        <input
          matInput
          [(ngModel)]="newIngredient"
          (keyup.enter)="addIngredient()"
          placeholder="Type and press enter"
          name="Ingredients"
        />
        <button mat-icon-button matSuffix (click)="addIngredient()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>

      <mat-chip-listbox aria-label="Ingredients list">
        <mat-chip
          *ngFor="let ingredient of data.meal.ingredients; let i = index"
          (removed)="removeIngredient(i)"
        >
          {{ ingredient }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </div>

  <!-- Right Column -->
  <div class="right-column">
    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input
        matInput
        [(ngModel)]="imageUrl"
        (change)="onImageUrlChange($event)"
        placeholder="Enter image URL"
        name="imageUrl"
      />
      <mat-icon matSuffix>image</mat-icon>
    </mat-form-field>

    <div class="image-preview" *ngIf="data.meal.imageUrl">
      <img
        [src]="data.meal.imageUrl || 'mealNotFound.png'"
        alt="Meal Image"
        (error)="handleImageError($event)"
      />
    </div>
  </div>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button
    mat-button
    class="delete"
    *ngIf="data.meal._id"
    (click)="onDelete()"
    style="margin-right: auto"
  >
    <mat-icon>delete</mat-icon>
    Delete
  </button>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">
    <mat-icon>save</mat-icon>
    Save
  </button>
</div>