<div class="meal-list">
  <mat-card *ngFor="let meal of filteredMeals" (click)="selectMeal(meal)" class="meal-card">
    <img [src]="meal.imageUrl" alt="{{ meal.title }}" class="meal-image">
    <mat-card-content>
      <h3>{{ meal.title }}</h3>
      <p>Cooking Time: {{ meal.timeToCook }} minutes</p>
      <p>Effort Level: {{ meal.effortLevel }}/5</p>
      <div class="ingredients">
        <h4>Ingredients:</h4>
        <ul>
          <li *ngFor="let ingredient of meal.ingredients">{{ ingredient }}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>