<mat-toolbar color="primary">
  <span style="margin: 0 auto;">meal-planner</span>
</mat-toolbar>

<div class="container">
  <!-- Centered Daily Meal Component -->
  <div class="daily-meal-container">
    <app-daily-meal
      (dailyMealSelected)="openMealDialog($event)"
    ></app-daily-meal>
  </div>

  <!-- Meal List with Padding -->
  <div class="meal-list-container">
    <app-meal-list
      (mealSelected)="openMealDialog($event)"
      [refreshTrigger]="refreshMealList"
    ></app-meal-list>
    <button mat-fab color="primary" (click)="openMealDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
