<h2 mat-dialog-title class="dialog-header">{{ title }}</h2>
<div mat-dialog-content class="dialog-content">
  <form>
    <!-- Meal Title -->
    <mat-form-field appearance="fill">
      <mat-label>Meal Title</mat-label>
      <input matInput [(ngModel)]="data.meal.title" name="title" />
    </mat-form-field>

    <!-- Cooking Time -->
    <mat-form-field appearance="fill">
      <mat-label>Cooking Time (minutes)</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="data.meal.timeToCook"
        name="timeToCook"
      />
    </mat-form-field>

    <!-- Effort Level (mat-slider placed outside of mat-form-field) -->
    <mat-label>Effort Level</mat-label>
    <!--    <mat-slider
      [(ngModel)]="data.meal.effortLevel"
      name="effortLevel"
      min="1"
      max="5"
      step="1"
    ></mat-slider>-->

    <!-- Ingredients Input Field -->
    <mat-form-field appearance="fill">
      <mat-label>Add Ingredient</mat-label>
      <input
        matInput
        [(ngModel)]="newIngredient"
        (keydown.enter)="addIngredient()"
        placeholder="Type and press enter"
        name="Ingredients"
      />
    </mat-form-field>

    <!-- Ingredients Chip List -->
    <mat-chip-listbox>
      <mat-chip
        *ngFor="let ingredient of data.meal.ingredients; let i = index"
        (click)="removeIngredient(i)"
        (removed)="removeIngredient(i)"
      >
        {{ ingredient }}
      </mat-chip>
    </mat-chip-listbox>
  </form>
</div>

<!-- Dialog Actions -->
<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel" (click)="onCancel()">Cancel</button>
  <button mat-button class="save" color="primary" (click)="onSave()">
    Save
  </button>
</div>
